#header{
	width:100%;
  	height:183px;
  	background-image: url(../images/homeSmall.jpg);
  	background-position:center;
}

#sottoHeader{
	width:100%;
}

#maincol{
	width:100%;
}

#primi{
  	height:180px;
  	width:30%;
}
#cocktail{
  	height:180px;
  	width:30%;
}

#dessert{
  	height:180px;
  	width:30%;
}
#contorni{
	margin-left:1%;
  	height:180px;
  	width:30%;
}
#secondi{
  	height:180px;
  	width:30%;
}
#antipasti{
	margin-left:1%;
  	height:180px;
  	width:30%;
}


.home_element{
	width:100%;
	margin:1%;
}

#footer{
	width:100%;
}

body{
	min-width:583px;
}
