
#header{
  width:100%;
  height:183px;
}

#sottoHeader{
	width:100%;
}

#maincol{
width:100%;
}

#primi{
  height:180px;
}
#cocktail{
  height:180px;
}

#dessert{
  height:180px;
}
#contorni{
  height:180px;
}
#secondi{
  height:180px;
}
#antipasti{
  height:180px;
}


.home_element{
	width:100%;
}

#footer{
width:100%;
}

#path{
width:100%;
}
 