body{
background-color:#e8e7e3;
}
#header{
	background-image: url(../images/home.jpg);
	width:1300px; 
	height:300px;
	margin:auto;
	background-repeat: no-repeat;
}
#sottoHeader{
	background-color:#5f3714;
	color:white;
	height:25pt;
	width:1300px; 
	margin:auto;
	margin-bottom:0px;
}

#maincol{
	margin-top:0%;
	border-style:double;
	width:1300px; 
	margin:auto;
	box-shadow:0px 10px 20px 10px #d3d3d3;
	background-color:#dad7d2;
	min-height:500px;
	}

#register{
	float:right;
}

#footer{
clear:both;
background-color:#5f3714;
color:white;
margin:auto;
margin-top:0.5%;
width:1300px; 
height:40px;
}

#footerImg1{
float:left;
margin-top:0.4%;
margin-left:0.4%;
}

#footerText{
	text-align:right;
	float:left;
	height:36px;
	margin-top:0.8%;
	width:45%;
}
	
#footerImg2{
float:right;
margin-top:0.4%;
}

#path{
line-height: 22pt;
display:inline;
}

#menu{
background-color:#5f3714;
margin:auto;
margin-top:-16px;
width:1300px;
}

.listMenu{
color:white;
display:inline-block;
margin-right:5%;
text-transform:uppercase;
font-weight:bold;
}

.listMenu2:link{
color:white;
text-decoration:none;
}
.listMenu2:visited {
color:white;
text-decoration:none;
}

.listMenu2:hover {
background-color:#990000;
}


ul{
padding:0.9em;
}

.search{
    float:right;
	margin-top:0.4em;
	margin-right:0.3em;
}  


#registra{
float: left;
margin-bottom: 3%;
width: 41%;
}

#login{
float: left;
margin-left: 23%;
width: 35%;
}

#clearBoth { 
clear:both;
 }

#ricetta{
float:left;
width:48%;
margin-left:0.7%;
}

#insimg{
margin-top: 1%;
}

#procedimento{
float:left;
width:48%;
margin-left:3%;
}

.error {
color: red;
margin-left: 1%;
}
#linkPercorso{
color:white;
}

.titolo{
text-decoration:none;
font-weight: bold;
}

#anno{
	width:40px;
}


#testo{
 text-align:center;
 margin-top:10%;
}

#testo1{
 text-align:center;
 font-size:35px;
}

.testo2{
 text-align:center;
 font-size:25px;
 margin-top:3%;
}

#ingredienti{
	text-align:center;
	vertical-align:text-top;
}

.lista{
margin:auto;
width:80%;
margin-top:1%;
border-bottom-width: 1px;
border-bottom-style: solid;
}

.immagine{
	width:150px;
	display:inline-block;
}

.immagineRicetta{
	width:150px;
	
}

.descr{
	display:inline-block;
    margin-left: 1%;
    vertical-align:56px;
}
