html,head,body{ 
    margin: 0; padding: 0;
    font-family: "Times New Roman", Times, serif;
    font-size:10pt;
    background-color:#fff;
}
  
 h1{  
 font-size:40pt;
 text-align:center;
 margin-top:10%;
 margin-bottom:10%;
 }
#path{
margin-bottom:30%;
}

.listMenu{
display:inline-block;
margin-right:5%;
text-transform:uppercase;
font-weight:bold;
}
  
#maincol{
 font-size:20pt;
 text-align:center;
   
}
#sottoHeader{
display:none;
}
.search{
display:none;
}

.home_element{
margin:10%;
}
#footer{
display:none;
}

.immagineVisualizzaRicetta{
    width:150px;
    
    }
.descr{
    font-size:10pt;
}

.immagine{
width:150px;
display:inline-block;
vertical-align:8px;
}






























