html,head,body{ 
    margin: 0; padding: 0;
    font-family: "Times New Roman", Times, serif;
    font-size:10pt;
    background-color:#fff;
}
  
 h1{  
 font-size:40pt;
 text-align:center;
 margin-top:10%;
 margin-bottom:10%;
 }
#path{
margin-bottom:30%;
}
  
#maincol{
 font-size:20pt;
 text-align:center;
   
}
#sottoHeader{
display:none;
}
.search{
display:none;
}

.home_element{
margin:10%;
}
#footer{
display:none;
}

.immagineVisualizzaRicetta{
    width:150px;
    
    }
.descr{
    font-size:10pt;
}






























