html,head,body{
    margin: 0; padding: 0;
    font-family: "Times New Roman", Times, serif;
    background-color:#fff;
}
  
 h1{
 font-size:35pt;
 text-align:center;
 margin-top:10%;
 margin-bottom:5%;
 }
 
 #path{
font-size:20pt;
margin-bottom:5%;
}

#insRicetta{
margin-bottom:1%;
float: left;
margin-left:3%;
margin-top:1%;
margin-right:5%;
}

.listMenu{
display:none;
}

#maincol{
font-size:15pt;
margin-top:0%;
width:1300px;
margin:auto;
min-height:500px;
}

.search{
display:none;
}

#footer{
display:none;
}

#clearBoth {
clear:both;
 }
 
 #autore{
display:inline;
}

#testoAutore{
display:inline;
}


#ricetta{
    display:inline;
float:left;
margin-left:0.7%;
margin-bottom:0.7%;
}

#insimg{
margin-top: 1%;
}


#mostraprocedimento{
display:inline;
float:left;
width:48%;
margin-left:3%;
margin-top:3%;
}


#uling{
padding:0%;
}

.pingredien{
margin-left:7%;
}

#insRicetta{
margin-bottom:1%;
float: left;
margin-left:3%;
margin-top:1%;
margin-right:5%;
}







