html,head,body{ 
    margin: 0; padding: 0;
    font-family: "Times New Roman", Times, serif;
    background-color:#fff;
}
  
 #titolo{  
 font-size:35pt;
 text-align:center;
 margin-top:10%;
 margin-bottom:5%;
 }
 #accedi{
     display:none;
 }
#path{
font-size:20pt;
margin-bottom:5%;
}

.listMenu{
display:none;
}
  
#maincol{
font-size:20pt;
margin-top:0%;
width:1300px;
margin:auto;
min-height:500px;
}


.search{
display:none;
}

#footer{
display:none;
}

.lista{
margin:auto;
width:80%;
margin-top:1%;
}

.immagine{
width:150px;
display:inline-block;
vertical-align:8px;
}

.immagineRicetta{
width:150px;
margin-top:2%;
}

.immagineVisualizzaRicetta{
width:380px;
}

.pingredient{
margin-left:70%;
}
.divImmagine{
width:380px;
}

.descr{
display:inline-block;
margin-left: 1%;
vertical-align:34px;
}




























